<h2>Edit Wine in Your Cellar</h2>

<!-- add content here -->
<form action="/user_wines" method="POST">
<select name="wine[wine_id]" >
<%@wines.each do |wine|%>
<option name="wine[wine_id]" value="<%=wine.id%>"><%=wine.vintage%>, <%=wine.producer%>, <%=wine.varietal%></option>
<%end%>
</select>
<input type="textbox" placeholder="Notes:" name="user_wine[notes]">
  <input type="submit" value="Add Wine to Cellar!">
</form>



