

<h1>Please log in</h1>

<form method="POST" action="/login">
<label for="email" id="email" >Email:</label>
<input type="text" name="email"/>

<label for="password" id="password" >Password:</label>
<input type="password" name="password"/>
<input type="submit" value="Log In"/>
<br>
<br>
<a href='/'>Back</a>
</form>