<h1>Welcome! Please sign up</h1>

<form method="POST" action="/users">
<label for="name" id="name" >Name:</label>
<input type="text" name="name"/>

<label for="image_url" id="image_url" >Profile Image URL:</label>
<input type="text" placeholder="Optional..." name="image_url"/>

<label for="email" id="email" >Email:</label>
<input type="text" name="email"/>

<label for="password" id="password" >Password:</label>
<input type="password" name="password"/>

<input type="submit" value="Create User"/>
</form>