<h2>Add a New Wine</h2>

<!-- add content here -->
<form action="/wines" method="POST">
  <label for="producer">Producer:</label><br>
  <input id="producer" type="text" name="wine[producer]" /><br>
  <label for="w_type">Type:</label><br>
  <input id="w_type" type="text" name="wine[w_type]" /><br>
  <label for="varietal">Varietal:</label><br>
  <input id="varietal" type="text" name="wine[varietal]" /><br>
  <label for="vintage">Vintage:</label><br>
  <input id="vintage" type="text" name="wine[vintage]" /><br

  <input type="submit" value="Create a New Wine">
</form>

